Repository coresolutionsltd/coresolutions.ltd: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages:
          - commit-msg
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.24
    hooks:
      - id: shellcheck
  - repo: https://github.com/trussworks/pre-commit-hooks
    rev: v1.1.1
    hooks:
      - id: markdown-toc
        files: README\.md$
  - repo: local
    hooks:
      - id: prettier-check
        name: Run Prettier Check
        entry: npx prettier . --check
        language: system
        files: \.(js|jsx|ts|tsx|md|mdx|astro)$
      - id: eslint
        name: Lint JavaScript/TypeScript files
        entry: npx eslint .
        language: system
        files: \.(js|jsx|ts|tsx|astro)$

fix: post feedback
  src/components/ui/feedback/PostFeedback.astro
  src/pages/blog/[...slug].astro
Due: prettier-check, eslint

chore: alb ingress blog
  src/content/blog/kubernetes-aws-load-balancer-controller.md
  src/content/old-blogs/kubernetes-aws-load-balancer-controller.md
  src/images/blog/aws-load-balancer-controller.jpg
Due: prettier-check

chore: k8s cli post
  src/content/blog/kubernetes-cli-tools-to-boost-your-productivity.md
  src/content/old-blogs/kubernetes-cli-tools-to-boost-your-productivity.md
  src/images/blog/kubernetes-cli.jpg
Due: prettier-check

chore: formatting
  src/content/blog/kubernetes-cli-tools-to-boost-your-productivity.md
Due: prettier-check

chore: formatting
  src/assets/styles/global.css
Due: none

chore: multi accounts with terraform
  src/assets/styles/global.css
  src/content/blog/managing-multiple-aws-accounts-with-terraform.md
  src/content/old-blogs/managing-multiple-aws-accounts-with-terraform.md
  src/images/blog/multiple-aws-accounts.jpg
Due: prettier-check

chore: multi accounts with terraform
  src/content/blog/managing-multiple-aws-accounts-with-terraform.md
Due: prettier-check

chore: lang to gb
  src/data_files/constants.ts
  src/pages/blog/[...page].astro
  src/pages/blog/tag/[tag]/[...page].astro
  src/pages/contact.astro
Due: prettier-check, eslint

chore: contact description
  src/pages/contact.astro
Due: prettier-check, eslint

chore: tag page size
  src/pages/blog/tag/[tag]/[...page].astro
Due: prettier-check, eslint

chore: added old alb waf cloudfront post
  src/content/blog/protecting-your-alb-with-waf-cloudfront.md
  src/content/old-blogs/protecting-your-alb-with-waf-cloudfront.md
  src/images/blog/alb-waf-cloudfront.jpg
Due: prettier-check

chore: coredns post
  src/content/blog/resolve-route53-records-from-within-eks.md
  src/content/old-blogs/cross-account-iam-roles-in-eks.md
  src/content/old-blogs/resolve-route53-records-from-within-eks.md
  src/images/blog/coredns-route53.jpg
Due: prettier-check

chore: old posts
  src/content/blog/assume-iam-roles-on-eks-the-right-way.md
  src/content/blog/auto-rotating-credentials-with-secrets-manager.md
  src/content/blog/auto-update-security-groups-with-cloudflare-ips.md
  src/content/blog/blue-and-green-deployments-with-terraform-and-ansible-on-ec2.md
  src/content/blog/enhance-your-kubernetes-monitoring-with-grafana.md
  src/content/blog/gitops-for-kubernetes-with-argo-cd.md
  src/content/blog/kubernetes-auto-and-scheduled-scaling.md
  src/content/blog/kubernetes-aws-load-balancer-controller.md
  src/content/blog/run-jenkins-in-docker-with-persistent-data.md
  src/content/old-blogs/run-jenkins-in-docker-with-persistent-data.md
  src/images/blog/jenkins.jpg
Due: prettier-check

chore: testing terraform
  src/content/blog/testing-terraform.md
  src/content/old-blogs/terraform-pipeline-structure-with-jenkins.md
  src/content/old-blogs/testing-terraform.md
  src/images/blog/testing-terraform.jpg
Due: prettier-check

chore(deps): updating deps
  astro.config.mjs
  package-lock.json
  package.json
Due: none

chore: adding npx upgrade to makefile
  makefile
Due: none

feat: services
  astro.config.mjs
  src/components/sections/features/FeaturesGeneral.astro
  src/components/sections/navbar&footer/FooterSection.astro
  src/components/sections/navbar&footer/Navbar.astro
  src/components/sections/navbar&footer/NavbarMegaMenu.astro
  src/components/ui/blocks/LeftSection.astro
  src/components/ui/blocks/MainSection.astro
  src/components/ui/blocks/RightSection.astro
  src/components/ui/blocks/TabNav.astro
  src/components/ui/icons/icons.ts
  src/data_files/constants.ts
  src/data_files/features.json
  src/images/cloud.jpg
  src/images/hero.png
  src/images/kubernetes.jpg
  src/images/platform.jpg
  src/images/platformMain.jpg
  src/images/social.jpg
  src/images/social.png
  src/pages/404.astro
  src/pages/about.astro
  src/pages/index.astro
  src/pages/services.astro
  src/utils/navigation.ts
Due: prettier-check, eslint

chore: white favicon
  src/images/icon.png
Due: none

chore: logo
  src/components/sections/navbar&footer/FooterSection.astro
  src/components/sections/navbar&footer/Navbar.astro
Due: prettier-check, eslint

chore: bumping astro version
  package-lock.json
  package.json
Due: none

fix: pinning tailwindcss to 3.4.17
  package-lock.json
  package.json
Due: none

feat: tailwind
  astro.config.mjs
  package-lock.json
  package.json
  src/assets/scripts/lenisSmoothScroll.js
  src/assets/styles/global.css
  src/components/ThemeIcon.astro
  src/components/sections/features/FeaturesGeneral.astro
  src/components/sections/features/FeaturesNavs.astro
  src/components/sections/features/FeaturesStats.astro
  src/components/sections/features/FeaturesStatsAlt.astro
  src/components/sections/misc/FAQ.astro
  src/components/sections/navbar&footer/Navbar.astro
  src/components/sections/navbar&footer/NavbarMegaMenu.astro
  src/components/ui/buttons/SocialShare.astro
  src/components/ui/icons/icons.ts
  src/components/ui/links/NavLink.astro
  src/content/blog/protecting-your-alb-with-waf-cloudfront.md
  src/layouts/MainLayout.astro
  src/pages/blog/tag/[tag]/[...page].astro
  src/pages/index.astro
  tailwind.config.mjs
Due: prettier-check, eslint

fix: package lock
  package-lock.json
Due: none

feat: adding basic semantic release
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

fix: github token
  .github/workflows/release.yml
Due: none

chore: adding releaserc
  .releaserc
Due: none

Notes added by 'git notes add'
  7ffbac1827a446538aa01026346fd69acc4cf42f
Due: none

chore: deploy from main branch
  .github/workflows/deploy.yml
Due: none

chore(deps): update astro to 5.12.8
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  26a7b73794f3bfcbec76bc0c775f338730ea414a
Due: none

fix: favicon
  src/pages/favicon.ico.ts
Due: prettier-check, eslint

Notes added by 'git notes add'
  6c5fd06aa2d4c864a16b719a2dfa8714c6d67ff4
Due: none

chore: deploy tf via github actions
  src/content/blog/deploy-to-aws-using-github-actions-and-oidc.md
  src/images/blog/github-opentofu-oidc.jpg
Due: prettier-check

chore(deploy): .releaserc.json
  .releaserc
  .releaserc.json
Due: none

Notes added by 'git notes add'
  61b7c42df2c9454b45fd1e7ce79fbe6786727567
Due: none

chore: deploy tf via github actions
  src/content/blog/deploy-to-aws-using-github-actions-and-oidc.md
  src/content/blog/testing-opentofu-terraform.md
  src/content/blog/testing-terraform.md
  src/images/blog/testing-opentofu-terraform.jpg
  src/images/blog/testing-terraform.jpg
Due: prettier-check

chore: testing tf
  .releaserc.json
  src/content/blog/testing-opentofu-terraform.md
Due: prettier-check

chore: k8s cli image
  src/images/blog/kubernetes-cli.jpg
Due: none

chore: images
  src/images/blog/argo-gitops.jpg
  src/images/blog/aws-load-balancer-controller.jpg
Due: none
